.homescreen {
    width: 100%;
}

.home_orders {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.2rem;
}

.home_title {
    margin-left: 20px;
}

.add_order {
    width: 70px;
    height: 70px;
    position: absolute;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 85%;
    left: 90%;
    border-radius: 50%;
    background: #08f268;
    border: 3px solid #059142;
    color: #fff;
    text-decoration: none;
    box-shadow: 9px 9px 4px 2px rgba(0, 0, 0, 0.5);
}