.order {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .head {
   
   display: flex;
    align-items: center;
    justify-content:space-between;
  }
  .loading{
    height: 150px;
    width: 150px;
    border: 10px whitesmoke;
    border-style:initial;
    
    border-right: solid 10px skyblue ;
    
    
    border-radius: 100%;
    animation: loadingAnim 1s ease-in-out  infinite forwards ;
  }
  @keyframes loadingAnim {
    0%{
      transform:rotate(0deg);
    }
    /* 50%{
      transform: rotate(360deg);
    } */
    100%{
      transform: rotate(360deg);
    }
  }